.card__delete {
  position: absolute;
  top: 24px;
  right: 16px;
  min-width: 20px;
  min-height: 18px;
  border: none;
  background-image: url("../../../images/delete_button.svg");
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}

.card__delete:hover {
  opacity: .6;
}