.auth__caption {
  font-size: 14px;
  line-height: 1.214;
  display: block;
  box-sizing: border-box;
  padding-top: 20px;
  min-height: 77px;

  text-align: center;
}

@media screen and (min-width: 880px){
  .auth__caption {
    min-height: 112px;
  }
}