.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
  grid-template-areas:
      "user user"
      "logo ui";
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  box-sizing: border-box;
}